.container-buttons {
  position: fixed;
  padding: 0.8rem;
  background-color: #6100FF;
  border: none ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
  border-radius: 1rem;
  top: 50%;
  left: 0.3rem
}
