.container-style-buttons {
  position: fixed;
  padding: 0.3rem;
  background-color: white;
  border: none ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
  border-radius: 1rem;
  top: 20%;
  left: 0.3rem
}

.container-undo-redo-buttons {
  position: fixed;
  display: flex;
  padding: 0.3rem;
  margin: 0.3rem;
  background-color: white;
  border: none ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
  border-radius: 1rem;
  bottom: 0;
}