.pencil-style-options-container {
  position: fixed;
  padding: 0.3rem;
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
  border-radius: 1rem;
  top: 6.5%;
  margin-left: 0.3rem;
  animation: slideRight 0.5s forwards;
}
@keyframes slideRight {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

.pencil-style-options {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding: 0.2rem;
  border-bottom: 1px solid gainsboro;

  span {
    width: 1rem;
    margin-left: 1rem;
  }

  input {
    margin-right: 1rem;
  }

  label {
    width: 5rem;
    margin-right: 1rem;
  }
}

.pencil-colors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .pencil-color-box {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.05rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    cursor: pointer;
    &.active {
      transition: all 400ms ease;
      height: 1.8rem;
      width: 1.8rem;
    }
  }
}
