.icon-container {
  display: flex;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.8rem 0;
  img {
    border-radius: 0.8rem;
    width: 100%;
    &:hover {
      transition: all 400ms ease;
      background: rgb(236, 135, 135);
    }
    &:focus{
      transition: all 400ms ease;
      background: rgb(236, 135, 135);
    }
    &.active {
      transition: all 400ms ease;
      background: rgb(236, 135, 135);
    }
  }
}
